<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <db_credentials_Settings>
    <!-- Name of the connection -->
    <name>DataReportConnectionString</name>

    <!-- Database credentials -->
    <server>db_server</server>
    <database>DBReports</database>
    <username>user</username>
    <password>password</password>
  </db_credentials_Settings>


  <data_files_Settings>
    <data_files_folder></data_files_folder>
    <processed_files_folder></processed_files_folder>
  </data_files_Settings>


  <log_Settings>
    <folder></folder>
    <filetag>DataFileProcessorLog</filetag>
    <maxLogAge>1</maxLogAge>
    <queueSize>1</queueSize>
    <enable>true</enable>
    <verboseLevel>1</verboseLevel>
  </log_Settings>

  <processor_Settings>
    <bulk_load>true</bulk_load>
    <fuzzy_title_match>true</fuzzy_title_match>
    <recover_from_error>true</recover_from_error>
    <normalize>true</normalize>
    <sanitize>true</sanitize>
  </processor_Settings>


</configuration>